//颜色定义规范
$color-background = rgba(255, 255, 255, 1)
$color-text = #181818
$color-text-g = #B9B9B9
$color-text-w = #ffffff
$color-active = #64AC16
$color-button = #61AB12
$color-button-disable = #BBDB99
